name: API Service Build, Push and Deploy

on:
  # workflow_dispatch:
  push:
    branches:
      - 'main'
    # only build when important files change
    paths:
      - 'api/**'
      - '.github/workflows/call-docker-build-api.yaml'
    # paths:
    #   - 'bookinfo_app/src/details/**'
env:
  ECR_REGISTRY: 185332529335.dkr.ecr.eu-central-1.amazonaws.com/my-ecr-repo
  ECR_REPOSITORY: my-ecr-repo

jobs:
  build_and_push_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1