name: Create Kubernetes ServiceAccount and ClusterRoleBinding

on:
  workflow_run:
    workflows: ['Terraform setup', 'Install ArgoCD and Kubernetes Dashboard']
    types:
      - completed

jobs:
  create-serviceaccount:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up kubectl
      uses: azure/setup-kubectl@v1
      with:
        version: 'latest'

    - name: Create ServiceAccount and ClusterRoleBinding
      run: |
        kubectl apply -f - <<EOF
apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin-user
  namespace: kubernetes-dashboard

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: admin-user
  namespace: kubernetes-dashboard
EOF

    - name: Create Secret
      run: |
        kubectl create secret generic admin-user --namespace=kubernetes-dashboard --from-file=token=/var/run/secrets/kubernetes.io/serviceaccount/token

