name: Create Kubernetes ServiceAccount, ClusterRoleBinding and Secret

on:
  workflow_run:
    workflows: ['Terraform setup', 'Install ArgoCD and Kubernetes Dashboard']
    types:
      - completed

jobs:
  create-serviceaccount:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up AWS CLI
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Create ServiceAccount, ClusterRoleBinding and Secret
      run: |
        aws eks update-kubeconfig --name eks-dev0ps-cluster --region eu-central-1
        kubectl config use-context arn:aws:eks:eu-central-1:185332529335:cluster/eks-dev0ps-cluster
        kubectl apply -f ./k8s-manifests/observability/create-user.yaml
        kubectl apply -f ./k8s-manifests/observability/ClusterRoleBinding.yaml
        kubectl apply -f ./k8s-manifests/observability/create-secret.yaml

